body{
    background-color: black;
    font-family: roboto;
}
.navbar{
    display: flex;
    align-items: flex-start;
    
}
.navbar-ref{
    width:40%;
    margin-left: 46%;
    margin-top: 3%;
    margin-right: 0%;
   
}
.ref{
    color: white;
    margin-left: 5%;
    text-decoration: none;
}
.navbar-img{
    margin-top: -1%;
    margin-left: 5%;
    width:12%;
    margin-right: -2%;
}

.welcome{
    display: flex;
    margin-top: 5%;
    
    border-radius: 12px;
    width: 40%;
    margin-left: 7%;
    flex-direction: column;
}

.welcome-title{
    font-size: 350%;
    color:rgb(91, 233, 91);
    
}

.welcome-text{
    font-size: 130%;
    text-align: justify;
    color:white;
    margin-right:18%;
    
}
.gym-image{
    width: 50%;
    border-radius: 5px;
    border-color: white 1em;
    margin-left: 45%;
    position: absolute;
    z-index: -1;
}
